<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Exless"
        tools:targetApi="31">
        <activity
            android:name=".view.detail_menu_resep"
            android:exported="false" />
        <activity
            android:name=".view.Profile_Activity"
            android:exported="false" />
        <activity
            android:name=".view.DetailBeritaActivity"
            android:exported="false" />
        <activity
            android:name=".view.MenuResep"
            android:exported="false" />
        <activity
            android:name=".view.DetailItemActivity"
            android:exported="false" />
        <activity
            android:name=".view.SeeExpiredActivity"
            android:exported="false" />
        <activity
            android:name=".view.SeeExpiredMainActivity"
            android:exported="false" />
        <activity
            android:name=".view.TambahbahanMain_Activity"
            android:exported="false"
            android:theme="@style/Theme.dropdown" />
        <activity
            android:name=".view.TambahbahanSimpan_Activity"
            android:exported="false"
            android:theme="@style/Theme.dropdown" />
        <activity
            android:name=".view.TambahbahanSeeitem_Activity"
            android:exported="false"
            android:theme="@style/Theme.dropdown" />
        <activity
            android:name=".view.seeitems_Activity"
            android:exported="false"
            tools:ignore="ExtraText" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false" />
        <activity
            android:name=".view.onbonding3"
            android:exported="false" />
        <activity
            android:name=".view.onbonding2"
            android:exported="false" />
        <activity
            android:name=".view.onbonding1"
            android:exported="false" />
        <activity
            android:name=".view.SplassScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.Register_Activity"
            android:exported="false" />
    </application>

</manifest>